<div class="container">

    <div *ngIf="!show_vehicle; else message" >
        <div class="container content" role="group" aria-label="Basic example"><button (click)="changeData()" class="btn btn-primary">Filter</button>
            <button (click)="resetFilters()" class="btn btn-primary">Reset Filters</button>
        </div>
            
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <app-vehicle *ngFor="let vehicle of vehicles;" [vehicle]="vehicle" (showVehicle)="show($event)" ></app-vehicle>
        </div>
    </div>
    
    <ng-template #message>
        <app-vehicle-display [vehicle_data] = "vehicle_data" ></app-vehicle-display>
        <button class="btn btn-primary" (click)="back()">Back</button>
    </ng-template>

</div>
