<div class="card" style="width:  35%;">
    <img src={{vehicle_data.image}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{vehicle_data.title}}</h5>
        <ul class="list-group">
            <li class="list-group-item"><p class="card-text"><strong>Location: </strong><span>{{vehicle_data.city}}</span></p></li>
            <li class="list-group-item"><strong>Make: </strong><span>{{vehicle_data.make}}</span></li>
            <li class="list-group-item"><strong>Price: </strong><span>{{vehicle_data.price_rupees}} Rs</span></li>
            <li class="list-group-item"><strong>Year: </strong><span>{{vehicle_data.year}}</span></li>
            <li class="list-group-item"><strong>Mileage(miles): </strong><span>{{vehicle_data.mileage_miles}}</span></li>
            <li class="list-group-item"><strong>Type: </strong><span>{{vehicle_data.vehicle_type}}</span></li>
            <li class="list-group-item"><strong>Tranmission: </strong><span>{{vehicle_data.transmission}}</span></li>
            <li class="list-group-item"><strong>Registered In: </strong><span>{{vehicle_data.registered_in}}</span></li>
            <li class="list-group-item"><strong>Seller Contact: </strong><span>{{vehicle_data.seller_contact}}</span></li>
            <li class="list-group-item"><strong>Seller Email: </strong><span>{{vehicle_data.seller_email}}</span></li>
            <li class="list-group-item"><strong>Seller Comments: </strong><span>{{vehicle_data.seller_comments}}</span></li>
            <li class="list-group-item"><strong>Rating: </strong><span>{{vehicle_data.rating}}</span></li>
        </ul>
    </div>
  </div>
<br/>